.footer__copyright {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Inter-Regular';
    color: #ffffff;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
      align-self: flex-start;
      margin-top: 48px;
      margin-left: 16px;
      margin-bottom: 24px;
    }
}