@import url(../vendor/normalize.css);



@font-face {
    font-family: 'Inter-Black';
    src: url(../vendor/fonts/Inter-Black.woff2);
}
@font-face {
    font-family: 'Inter-Bold';
    src: url(../vendor/fonts/Inter-Bold.woff2);
}
@font-face {
    font-family: 'Inter-Regular';
    src: url(../vendor/fonts/Inter-Regular.woff2);
}

.page {
    background-color: #2A2C2F;
}