@import url(../vendor/normalize.css);



@font-face {
    font-family: 'Inter-Black';
    src: url(../vendor/fonts/Inter-Black.woff2);
}
@font-face {
    font-family: 'Inter-Bold';
    src: url(../vendor/fonts/Inter-Bold.woff2);
}
@font-face {
    font-family: 'Inter-Regular';
    src: url(../vendor/fonts/Inter-Regular.woff2);
}

.page {
    background-color: #2A2C2F;
}
.header {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 28px;
}
.heaedr__logo {
    padding-left: 48px;
}
.header__lang-link-wrap {
    padding-right: 48px;
}
.header__lang-link {
    text-decoration: none;
    font-family: 'Inter-Regular';
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.header__lang-link:first-child {
    margin-right: 18px;
}
.header__lang-link_location {
    border-bottom: 1px solid #FFFFFF;
}