.lead__caption {
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    font-family: 'Inter-Regular';
    color: #FFFFFF;
    margin: 0 auto;
    padding-top: 8px;
    letter-spacing: 0.15em;
}